<% if @blog_months.any? %>
    <h4>Archives</h4>
    <% @blog_months.sort.reverse.each do |month, blogs| %>
        <ol class="list-unstyled">
          <li class="archive-header">
            <a href="javascript:void(0)"><%=h month.strftime("%B %Y") %></a>
          </li>
          <ul class="nav-items">
            <% blogs.each do |article| %>
                <li><%=h link_to article.title, article %></li>
            <% end %>
          </ul>
        </ol>
    <% end %>
<% end %>