<li class="home-menu">
  <a href="#published"><span class="glyphicon glyphicon-file"></span> Publish(<%= @feed_items.count %>)</a>
</li>

<li class="home-menu">
  <a href="#draft"><span class="glyphicon glyphicon-list-alt"></span> Draft(<%= @draft_items.count %>)</a>
</li>

<li class="home-menu">
  <a href="#trash"><span class="glyphicon glyphicon-trash"></span> Trash(<%= @trash_items.count %>)</a>
</li>